/* ===== RESET ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#111;
  color:#fff;
  font-family: "FuturaBT", Arial, sans-serif;
}

/* ===== NAVBAR ===== */
/* ===== NAVBAR ===== */
.header{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  align-items:center;
  padding:0px 40px;
  background:rgba(0,0,0,0.45);
  backdrop-filter: blur(6px);
  z-index:1000;
}
.menu-toggle{
  margin-left:auto; /* lo empuja a la derecha */
  font-size:24px;
  color:#fff;
  background:none;
  border:none;
  cursor:pointer;
}
/* LOGO */
.logo{
  font-weight:bold;
  letter-spacing:2px;
  padding-left: 50px;
}

/* NAV LINKS */
.nav{
  margin-left:auto;   /* empuja todo a la derecha */
  display:flex;
  gap:25px; /*Distancia*/
}
@font-face {
  font-family: "FuturaBT";
  src: url("../fonts/Futura\ Md\ BT\ Medium.woff2") format("woff2"),
       url("../fonts/Futura\ Md\ BT\ Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* BOTON MENU MOVIL */
.menu-toggle{
  display:none;
  font-size:22px;
  cursor:pointer;
  z-index:1100;
}



/*Navbar escondido telefono*/
@media (max-width: 768px){

  .menu-toggle{
    display:block;
    color:#fff;
  }
  

  .nav{
    position:fixed;
    top:0;
    right:-100%;
    width:260px;
    height:100vh;
    background:#0e141a;

    display:flex;          /* ← IMPORTANTE */
    flex-direction:column;
    align-items:center;

    padding-top:100px;
    gap:25px;

    transition:0.4s ease;
    z-index:1050;
  }

  .nav.active{
    right:0;
  }
  

}


/*VER EN TELEFONO*/
@media (max-width:768px){

  .header{
    padding:15px 20px;
  }

  .logo img{
    height:32px;
  }

}
.menu-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.5);
  opacity:0;
  pointer-events:none;
  transition:.3s;
  z-index:1000;
}

.menu-overlay.active{
  opacity:1;
  pointer-events:auto;
}


.nav a{
  color:#fff;
  text-decoration:none;
  font-weight:500;
  transition:.3s;
  font-family:"FuturaBT";
  font-size: 18px;/*tamaño*/
  text-transform: uppercase;

}

.nav a:hover{
  color:#2ec4ff;
}

/* ICONOS */
.social-icons{
  display:flex;
  justify-content:center;
  gap:22px;
  
  align-items:center;
  margin-top:auto;   /* empuja los iconos hacia abajo */

}


.social-icons a{
  color:#fff;
  font-size:18px;
  transition:.3s;
}

.social-icons a:hover{
  color:#2ec4ff;
}

/* TikTok pegado al borde derecho */
.social-icons .tiktok{
  margin-right:-10px;
}
/* LOGO */
.logo{
  display:flex;
  align-items:center;
}

.logo img{
  height:60px;      /* tamaño ideal */
  width:auto;
  transition:.3s;
  align-items:center;

  object-fit:contain;
}


/*Logo en modo telefono*/
@media (max-width:600px){

  .logo img{
    height:48px;
   display: flex;
   margin-left:-10px;

  }

  .header{
    padding:12px 18px;
  }

}

.logo img:hover{
  transform:scale(1.05);
}





/************************************************************************************/





/* ===== HERO ===== */
.hero{
  position:relative;
  height:clamp(420px, 100vh, 900px);
  overflow:hidden;
  display:flex;
  align-items:center;
  padding:120px 60px 60px;
}

/* slider */
.hero-slider{
  position:absolute;
  inset:0;
}

.slide{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
  opacity:0;
  transition:opacity 1.5s ease-in-out;
}

.slide.active{
  opacity:1;
}

/* capa oscura */
.hero::after{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.45);
  z-index:1;
}

/* texto */
.hero-overlay{
  position:relative;
  z-index:2;
  max-width:600px;
}

.hero h1{
  font-size:48px;
  line-height:1.2;
  font-weight:900;
}

.hero p{
  margin-top:15px;
  color:#2ec4ff;
  font-weight:600;
}

/* dots */
.hero-dots{
  position:absolute;
  bottom:25px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:10px;
  z-index:2;
}

.dot{
  width:12px;
  height:12px;
  border-radius:50%;
  background:rgba(255,255,255,0.5);
  cursor:pointer;
  transition:.3s;
}

.dot.active{
  background:#fff;
  transform:scale(1.2);
}



/* 📱 HERO EN TELEFONOS */
/* 📱 HERO*/
/* ===== HERO BASE ===== */

.hero{
  position:relative;
  height:100vh;
  overflow:hidden;
  display:flex;
  align-items:center;
  padding:120px 60px 60px;
}

/* contenedor del slider */
.hero-slider{
  position:absolute;
  inset:0;
}

/* imágenes del slider */
.slide{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
  opacity:0;
  transition:opacity 1.5s ease-in-out;
}

.slide.active{
  opacity:1;
}

/* capa oscura */
.hero::after{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.45);
  z-index:1;
}

/* texto */
.hero-overlay{
  position:relative;
  z-index:2;
  max-width:600px;
}

.hero h1{
  font-size:48px;
  line-height:1.2;
  font-weight:900;
}

.hero p{
  margin-top:15px;
  color:#2ec4ff;
  font-weight:600;
  
}


/*Hero TELEGOFNO*/


/* 📱 HERO EN TELEFONOS */
@media (max-width: 768px){

  .hero{
    padding:0;
    height:45vh;
    display:flex;
    justify-content:center;
    
    align-items:flex-start; /* evita espacio arriba/abajo */
    padding-top:80px;
    text-align:center;
  }

  /* IMAGEN SIN ZOOM */
  .slide{
    
    width:auto;
    height:100%;
    object-fit:contain;
    object-position:center 80%; /* ← muestra completa */
    background:#000;      /* relleno elegante */
  }

  .hero-overlay{
    padding:10px;
  }

  .hero-overlay h1{
    font-size:26px;
  }
  .hero-dots{
  bottom:20px;   /* sube los puntos */
}


  .hero-overlay p{
    font-size:15px;
  }

}









/* ===== FEATURED ===== */



.featured{
  display:flex;
  overflow: hidden;
  /*justify-content:center;*/
  gap:30px;
  margin: auto;
  max-width: 970px;
  padding:60px 0px;
 
}


.card{
  background:#fff;
  color:#333;
  border-radius:18px;
  overflow:hidden;
  width:300px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.4);
  transition:.3s;
}

.card:hover{
  transform:translateY(-8px);
}

.card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.card h3{
  margin-top:15px;
}

.card p{
  font-size:14px;
  padding:10px 20px;
}

.card button{
  background:#ff4b2b;
  border:none;
  color:#fff;
  padding:10px 25px;
  margin:15px 0 20px;
  border-radius:25px;
  cursor:pointer;
  font-weight:bold;
}

.card button:hover{
  background:#e13e20;
}
/* contenedor general fondo */
.featured-wrapper{
  background:#1a1a1a;
  padding:80px 0;
  text-align:center;
  overflow:hidden;
  background-image:url("../src/img/lo\ mas\ pedido.jpg");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}


.featured-wrapper::before{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.65); /* 👈 controla la opacidad aquí */
  z-index:0;
}

/* Asegura que el contenido esté encima */
.featured-wrapper > *{
  position:relative;
  z-index:1;
}

/* titulo */
.featured-title{
  font-size:32px;
  font-weight:900;
  margin-bottom:40px;
}

/* viewport */

/* pista deslizante */
.featured-track{
  display:flex;
  gap:30px;
  transition:transform .6s ease;
}

/* indicadores */
.featured-dots{
  margin-top:25px;
  display:flex;
  justify-content:center;
  gap:10px;
}

.featured-dots span{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#666;
  cursor:pointer;
  transition:.3s;
}

.featured-dots span.active{
  background:#fff;
  transform:scale(1.2);
}
/* Flechas */
.arrow{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:rgba(255,255,255,0.1);
  border:none;
  color:#fff;
  font-size:28px;
  width:45px;
  height:45px;
  border-radius:50%;
  cursor:pointer;
  backdrop-filter:blur(5px);
  transition:.3s;
  z-index:10;
}

.arrow:hover{
  background:#ff4b2b;
}

.arrow.left{
  left:5%;
}

.arrow.right{
  right:5%;
}

.featured-wrapper{
  position:relative;
}
/*TELEFONO MOVIL*/


/* =========================
   📱 MOBILE
========================= */
@media (max-width: 768px){

  .featured{
    max-width:100%;
    padding:40px 0;  /*  quitamos padding lateral */
  }

  .featured-track{
    gap:30;  /*  sin separación en móvil */
  }

  .card{
    width:90vw;  /* ocupa casi todo pero deja margen visual */
    margin:0 auto;
  }

 .card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

  .featured-title{
    font-size:24px;
    margin-bottom:20px;
  }

  .featured-wrapper{
    padding:60px 0;
    background-attachment:scroll;
  }

  .arrow{
    display:none;
  }

  .featured-dots{
    margin-top:20px;
  }
}






















/* ===== ABOUT ===== */
.about{
  display:flex;
  align-items:center;
  gap:50px;
  padding:80px 60px;
  background:#16202a;
}

.about img{
  width:100%;
  max-width:500px;
  border-radius:10px;
}

.about-text{
  max-width:500px;
}

.about-text h2{
  font-size:32px;
  margin-bottom:15px;
}

.about-text p{
  line-height:1.6;
  color:#ccc;
}

.about-text button{
  margin-top:20px;
  padding:10px 25px;
  border:2px solid #fff;
  background:transparent;
  color:#fff;
  border-radius:25px;
  cursor:pointer;
}
.about-img{
  opacity:0;
  transform:translateY(-60px) rotate(-3deg);
  transition:all 1s ease;
}

.about-img.show{
  opacity:1;
  transform:translateY(0) rotate(0);
}
.about-text{
  opacity:0;
  transform:translateY(40px);
  transition:all 1s ease;
  transition-delay:.3s; /* 🔥 aparece después de la imagen */
}

.about-text.show{
  opacity:1;
  transform:translateY(0);
}

@media (max-width:768px){

  .about{
    flex-direction:column;
    padding:60px 25px;
    text-align:center;
    gap:30px;
  }

  .about-img{
    order:1; /* imagen primero */
  }

  .about-text{
    order:2;
  }

  .about img{
    max-width:100%;
  }

  .about-text h2{
    font-size:26px;
  }

}


























/* ===== RESERVATION ===== */
.reservation{
  text-align:center;
  padding:100px 20px;
  background:url('img/reserva.jpg') center/cover no-repeat;
}

.reservation h2{
  font-size:42px;
  font-weight:900;
}

.reservation p{
  margin:15px 0 25px;
}

.reservation button{
  padding:12px 30px;
  border:none;
  border-radius:25px;
  background:#fff;
  color:#000;
  font-weight:bold;
  cursor:pointer;
}
.reservation{
  position:relative;
  overflow:hidden;
  padding:120px 20px;
  text-align:center;
  color:#fff;
}



/* Fondo dividido */
.reservation-bg{
  position:absolute;
  inset:0;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  z-index:0;
}

/* Columnas */
/* Estado inicial */
/* Estado inicial */
.reservation-bg div{
  opacity:0;
  transform:translateY(0);
  transition:transform 1s ease, opacity 1s ease;

  background-size:cover;
  background-position:center 40%;
  background-repeat:no-repeat;
}


/* Las que bajan */
.reservation-bg div:nth-child(1),
.reservation-bg div:nth-child(3){
  transform:translateY(-80px);
}

/* Las que suben */
.reservation-bg div:nth-child(2),
.reservation-bg div:nth-child(4){
  transform:translateY(80px);
}

/* Cuando la sección aparece */
.reservation.show .reservation-bg div{
  transform:translateY(0);
  opacity:1;
}




/* Asigna tus imágenes */
.reservation-bg div:nth-child(1){
  background-image:url("../src/img/reservation/497760977_571782822608767_8760215675081148692_n.jpg");
}
.reservation-bg div:nth-child(2){
  background-image:url("../src/img/reservation/4.jpg");
}
.reservation-bg div:nth-child(3){
  background-image:url("../src/img/reservation/2.jpg");
}
.reservation-bg div:nth-child(4){
  background-image:url("../src/img/reservation/3.jpg");
}

/* Contenido encima */
.reservation-content{
  position:relative;
  z-index:2;
}
.reservation::before{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.7);
  z-index:1;
}
.reservation-content{
  position:relative;
  z-index:2;
  opacity:0;
  transform:translateY(40px);
  transition:all 1s ease;
}

.reservation-content.show{
  opacity:1;
  transform:translateY(0);
}



/* ===== MOBILE ===== */
@media (max-width: 768px){

  /* Ocultamos el fondo dividido */
  .reservation-bg{
    display:none;
  }

  /* Usamos una sola imagen */
  .reservation{
    background-image:url("../src/img/reservation/4.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
  }

  /* Opcional: más altura tipo hero */
  .reservation{
    min-height:70vh;
    display:flex;
    align-items:center;
    justify-content:center;
  }

}























/* ===== FOOTER ===== */
.footer{
  background:#0f1720;
  padding:80px 40px 60px;
  color:#aaa;
}

.footer-container{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr;
  gap:60px;
}

/* Columnas */
.footer-col h3{
  font-size:14px;
  letter-spacing:2px;
  text-transform:uppercase;
  color:#fff;
  margin-bottom:25px;
}

.footer-col p{
  font-size:14px;  /* 🔥 antes estaba muy grande */
  line-height:1.7;
  margin-bottom:12px;
  transition:.3s;
}

.footer-col p:hover{
  color:#fff;
}

.footer-col img{
  width:160px;
  margin-top:-25px;

}

/* Separación elegante */
.footer{
  border-top:1px solid rgba(255,255,255,0.05);
}





















.footer-bottom{
  background:#0f1720;
  border-top:1px solid rgba(255,255,255,0.15);
  padding:20px 60px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}


.footer-bottom p{
  font-size:13px;
  color:#aaa;
  letter-spacing:1px;
}

/* ICONOS */
.social-icons{
  display:flex;
  gap:18px;
}

.social-icons a{
  color:#aaa;
  font-size:16px;
  transition:.3s;
}

.social-icons a:hover{
  color:#fff;
  transform:translateY(-3px);
}
@media (max-width:768px){
  .footer-bottom{
    flex-direction:column;
    gap:15px;
    text-align:center;
  }
}



@media (max-width:768px){

  .footer-container{
    grid-template-columns:1fr;
    text-align:center;
    gap:40px;
  }

  .footer-col p{
    text-align:center;
  }

}


/************GALLERIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0*/
/* GALERÍA */
.galeria-page {
  background-color: #111;
  color: #fff;
}
.galeria-page .header {
  
}
.galeria {
  padding: 60px 10%;
    background: url("../src/img/lo\ mas\ pedido.jpg") center/cover no-repeat;

  text-align: center;
}
/*revisar*/
.galeria::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Cambia el 0.6 para más o menos opacidad */
  z-index: -1;
}


.galeria h2 {
  
  font-size: 52px;
  margin-top: 40px;
  margin-bottom: 30px;
}

/* FILTROS */
.filtros {
  margin-bottom: 40px;
}

.filtros button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  padding: 8px 15px;
  transition: 0.3s;
  border-radius: 20px;
}

.filtros button:hover {
  background: #fa3636;
}

.filtros .activo {
  background: rgb(255, 38, 38);
  color: white;
}

/* CONTENEDOR */
.contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* ITEMS */
.item {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.item img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.item:hover {
  transform: translateY(-5px);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contenedor-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .contenedor-galeria {
    grid-template-columns: 1fr;
  }
}






/*RESERVAAAAAAAAAA*/

.reserva-section {
  position: relative;
  padding: 100px 10%;
  background: url("../src/img/lo\ mas\ pedido.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reserva-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Opacidad */
  z-index: 1;
}

/* Para que el contenido quede encima del overlay */
.reserva-container {
  position: relative;
  z-index: 2;
}
.reserva-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.reserva-info {
  flex: 1;
  min-width: 300px;
}

.reserva-info h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.reserva-info p {
  color: #ffffff;
  margin-bottom: 15px;
  line-height: 1.6;
}

.reserva-datos p {
  margin: 8px 0;
  font-weight: 500;
}

.reserva-formulario {
  flex: 1;
  min-width: 300px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-row {
  display: flex;
  gap: 15px;
}

.input-row .input-group {
  flex: 1;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
}

input, select, textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #c59d5f;
}

.btn-reservar {
  width: 100%;
  padding: 12px;
  background: #c59d5f;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-reservar:hover {
  background: #a67c3b;
}

/* Responsive */
@media(max-width: 768px) {
  .reserva-container {
    flex-direction: column;
  }

  .input-row {
    flex-direction: column;
  }
}


/*ABout*/
.about-section {
  position: relative;   /* IMPORTANTE */
  padding: 80px 20px;
  background: url("../src/img/lo\ mas\ pedido.jpg") center/cover no-repeat;
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: auto;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-header .line {
  width: 80px;
  height: 3px;
  background-color: #c59d5f;
  margin: auto;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}

.about-info {
  flex: 1;
  min-width: 300px;
}

.about-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-info p {
  margin-bottom: 15px;
  line-height: 1.7;
  color: #ffffff;
}

.about-details {
  margin-top: 25px;
}

.detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 15px;
  color: #ffffff;
}

.detail-item i {
  color: #c59d5f;
  margin-right: 10px;
  font-size: 16px;
}

.about-map {
  flex: 1;
  min-width: 300px;
}

.about-map iframe {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


.about-section::before {
  content: "";
  position: absolute;
  inset: 0; /* reemplaza top, left, width, height */
  background: rgba(0, 0, 0, 0.6); /* opacidad */
  z-index: 1;
}
.about-section .container {
  position: relative;
  z-index: 2;
  color: #fff; /* texto blanco para que contraste */
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .section-header h2 {
    font-size: 28px;
  }
}
